* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Crete Round", serif;

  font-size: 14px;
  background-color: #d2f3ff;
  color: rgb(28, 116, 188);
}
.container {
  padding: 0 15px;
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
button {
  background-color: #1b73bc;
  border: none;
  color: #fff;
  outline: none;
  padding: 11px 35px;
  font-family: inherit;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.questions-section .progress-container .control .arrow-control.active:hover,
button:hover {
  background-color: #0058a1;
}
button:not(.arrow-control):active {
  outline: none;
  transform: scale(0.97);
}
.col-12 {
  width: 100%;
  flex: 0 0 100%;
}
.text-center {
  text-align: center;
}
.img-fluid {
  width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 10px 0;
}
h1 {
  font-size: 37px;
}
input {
  border: none;
  background-color: transparent;
  font-family: inherit;
  outline: none;
  color: #1b73bc;
  font-size: 31px;
  font-weight: 500;
}
.hide-item,
.dropdown,
.hide {
  display: none;
}
.fade-out {
  opacity: 0;
  animation: fadeOut 0.25s linear;
}
.fade-in {
  opacity: 1;
  animation: fadeIn 0.25s linear;
}
/*** Start Front Section ***/
.front-section:not(.active) {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.2s linear;
}
.front-section .inner-content {
  max-width: 510px;
  padding-bottom: 50px;
  transition: all 0.2s linear;
}
.front-section .logo {
  width: 175px;
  margin: 0 auto 15px auto;
  transition: all 0.2s linear;
}
.front-section h3 {
  font-size: 25px;
  font-weight: 500;
}
.front-section .heading {
  margin-bottom: 10px;
  overflow: hidden;
}
.front-section .start-btn {
  overflow: hidden;
}
.front-section:not(.active) .inner-content {
  padding-bottom: 0px;
}
.front-section:not(.active) .logo {
  width: 120px;
  margin-bottom: 0px;
}
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 28px;
  }
  .front-section h3 {
    font-size: 20px;
  }
}
/*** End Front Section ***/

/*** Start Questions Section ***/
.questions-section {
  display: none;
  opacity: 0;
  overflow: hidden;
}
.questions-section.active {
  display: block;
  opacity: 1;
}
.questions-section .content {
  position: relative;
  align-items: inherit;
  padding-bottom: 25px;
}
.questions-section .inner-content {
  position: relative;
  width: 100%;
}
.questions-section h1 {
  font-weight: 500;
}
.questions-section .title {
  margin-bottom: 15px;
}
.questions-section .question-order .icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.questions-section .question-order .icon img {
  width: 14px;
  margin-top: 1px;
}

.questions-section  .question-inner {
  flex: 1 1 auto;
}

.questions-section .question-order .icon .question-num {
  font-size: 28px;
  margin-right: 2px;
  margin-bottom: 2px;
}
.questions-section h2 {
  font-size: 30px;
  font-weight: 500;
}
.questions-section .input-container,
.questions-section .input-inner {
  position: relative;
  min-height: 52px;
}
.questions-section .input-container.inline {
  display: flex;
}
.questions-section .question.final h2 {
  font-size: 45px;
}
.questions-section .question-content {
  display: flex;
}
.questions-section .question-content.txtarea .input-container,
.questions-section .question-content.txtarea .input-inner {
  min-height: 120px;
}
.questions-section .input-inner textarea,
.questions-section .input-inner input {
  font-family: inherit;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #9ecdec;
  padding: 0 0 10px 0;
  z-index: 2;
}
.questions-section .question-content.dropdown-menu .input-inner input {
  padding-right: 35px;
}
.questions-section .input-inner textarea {
  background-color: transparent;
  border: none;
  border: 1px solid #1c74bc;
  height: 120px;
  padding: 10px;
  color: #1c74bc;
  font-size: 22px;
  border-radius: 4px;
  background-color: rgba(156, 216, 242, 0.15);
  outline: none;
}
.questions-section .question-content.range .input-inner input {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  padding: 0;
  margin: 0;
  background: #9cd8f2;
  border-radius: 4px;
  height: 10px;
}
.questions-section .question-content.range .input-inner input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 100%;
  background-color: #1c74bc;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.questions-section .question-content.range .input-inner input::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 100%;
  background-color: #1c74bc;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
}
.questions-section .question-content.range .input-inner .range-value {
  padding-left: 40px;
  padding-top: 17px;
  font-size: 22px;
}
.questions-section .input-inner .choose-lbl,
.questions-section .input-inner label {
  position: absolute;
  left: 0px;
  width: 100%;
  font-size: 31px;
  color: #9ecdec;
  cursor: text;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 1;
}
.questions-section .question-content.choose .input-inner .choose-lbl {
  color: #1b73bc;
  position: relative;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 10px 35px 10px 10px;
  border-radius: 4px;
  border: 1px solid #1b73bc;
  background-color: rgba(28, 116, 188, 0.1);
  cursor: pointer;
}
.questions-section .question-content.choose .input-container.inline .input-inner .choose-lbl {
  padding: 10px;
}
.questions-section .question-content.choose .input-inner .choose-lbl:hover {
  background-color: rgba(28, 116, 188, 0.3);
}
.questions-section .question-content.choose .input-inner .choose-lbl .choose-num {
  position: relative;
  font-size: 16px;
  width: 24px;
  text-align: center;
  line-height: 21px;
  height: 24px;
  padding-left: 1px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #1b73bc;
  background-color: #d2f3ff;
}
.questions-section .question-content.choose .input-inner .choose-lbl:hover .choose-num::before {
  content: "Key";
  position: absolute;
  top: -1px;
  left: -26px;
  background-color: #d2f3ff;
  border: 1px solid #1b73bc;
  font-size: 13px;
  height: 100%;
  border-right: 0;
  padding-left: 6px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.questions-section .question-content.choose .input-container:not(.no-checkmark) .input-inner .choose-lbl.active::after {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/check-mark-blue.png);
}
.questions-section .question-content.choose .input-inner .choose-lbl.active {
  animation: chooseCheck 0.4s ease-in-out;
}
.questions-section .question-content.choose .input-inner .choose-lbl input {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.questions-section .question-content.choose .input-inner .choose-lbl .txt {
  margin-top: -1px;
}
.questions-section .question-content.choose .input-inner {
  min-height: auto;
  margin-bottom: 8px;
}
.questions-section .question-content.choose .input-container.inline .input-inner {
  flex: 0 0 33.33%;
  padding: 0 10px;
}
.questions-section .question-content.multi-txt .input-inner {
  margin-bottom: 15px;
}
.questions-section .question-content.multi-txt .input-inner:last-child {
  margin-bottom: 0px;
}
.questions-section .question-content .input-inner.in-note .input-note {
    font-size: 21px;
    padding: 0 0 10px 15px;
}
.questions-section .question-content .input-inner.in-note {
  display: flex;
  align-items: end;
}
.questions-section .question-content .input-inner.in-note .input-box {
  flex: 1 1 auto;
}
.questions-section .input-inner.in-note label,
.questions-section .input-inner.in-note input {
  width: 100%;
}
.questions-section .question-content.txtarea .input-inner label {
  font-size: 22px;
  top: 10px;
  left: 10px;
}
.questions-section .input-inner .arrow {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.25s linear;
}
.questions-section .dropdown {
  position: absolute;
  top: 52px;
  width: 100%;
  left: 0px;
  overflow: auto;
  color: #fff;
  height: 0px;
  background-color: #1b74bc;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.questions-section .drop-menu.active .dropdown {
  display: block;
}
.questions-section .drop-menu.arrow-active .arrow {
  transform: rotate(180deg);
}
.questions-section .dropdown .item {
  font-size: 18px;
  padding: 15px;
  border-bottom: 1px solid #1364a7;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.questions-section .dropdown .item:last-child {
  border-bottom: none;
}
.questions-section .dropdown .item:not(:last-child):hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.questions-section .dropdown .filter {
  position: relative;
  padding: 15px;
}
.questions-section .dropdown .filter input {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.12);
  color: #fff;
  padding: 8px 15px;
  font-size: 18px;
}
.questions-section .dropdown .filter label {
  position: absolute;
  top: 23px;
  left: 30px;
  font-size: 18px;
  color: #4c8cc1;
}
.questions-section .question {
  display: none;
  max-width: 675px;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.questions-section .question.ready {
  display: block;
  top: 50%;
  opacity: 0;
}
.questions-section .question.ready2 {
  display: block;
  top: 50%;
  opacity: 0;
}
.questions-section .question.active2,
.questions-section .question.active {
  display: block;
  opacity: 1;
  z-index: 1;
}
.questions-section .question.active2 {
  opacity: 0;
}
.questions-section .question-icon {
  width: 71px;
  margin-bottom: 30px;
  margin-left: 0px;
}
.questions-section .question-content.dropdown-menu .input-container.drop-menu .input-inner input,
.questions-section .question-content.dropdown-menu .input-container.drop-menu .input-inner label {
  cursor: pointer;
}
.questions-section .accept-btn-container {
  display: none;
  position: absolute;
  left: 15px;
  z-index: 0;
}
.questions-section .accept-btn-container.active {
  display: block;
  animation: acceptBtn 0.25s ease-in-out;
}
.questions-section .inner-acc-btn {
  display: flex;
  align-items: center;
}
.questions-section .accept-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 8px 16px;
  font-size: 20px;
  margin-right: 12px;
}
.questions-section .accept-btn .check-icon {
  width: 16px;
  margin-left: 6px;
}
.questions-section .accept-btn-container .note {
  font-size: 13px;
  padding-bottom: 5px;
}
.questions-section .accept-btn-container .note strong {
  font-size: 12px;
}
.questions-section .progress-container {
  display: none;
  align-items: flex-end;
  position: absolute;
  bottom: -32px;
  right: 0;
  color: rgb(0, 154, 210);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 0;
}
.questions-section .progress-container.active {
  display: flex;
  bottom: 20px;
  animation: progressContainer 0.25s linear;
}
.questions-section .progress-container.done {
  opacity: 0;
  animation: progressContainer2 0.25s linear;
}
.questions-section .progress-container .progress-bar {
  margin-right: 15px;
  font-size: 15px;
}
.questions-section .progress-container .control {
  display: flex;
  align-items: center;
}
.questions-section .progress-container .control .arrow-control {
  position: relative;
  width: 38px;
  padding: 7px 11px;
  background-color: #1b73bc;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  overflow: hidden;
}
.questions-section .progress-container .control .arrow-control.inactive::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(189, 189, 189, 0.2);
  cursor: auto;
  z-index: 1;
}
.questions-section .progress-container .control .arrow-control.back {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 1px solid #9ecdec;
  padding: 7px 10.5px;
}
.questions-section .progress-container .control .arrow-control.back img {
  transform: rotate(180deg);
}
.questions-section .progress-container .control .arrow-control img {
  margin-bottom: 1px;
}
.questions-section .progress-container .control .arrow-control.next {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.questions-section .progress-container .progress-bar .bar {
  position: relative;
  width: 200px;
  border-radius: 35px;
  height: 4px;
  margin-top: 5px;
  margin-bottom: 4px;
  background-color: rgba(0, 154, 210, 0.3);
  overflow: hidden;
}
.questions-section .bar .inner-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(0, 154, 210);
}
@media only screen and (max-width: 991px) {
  .questions-section .accept-btn-container {
    left: 45px;
  }
  .questions-section .dropdown,
  .questions-section .question-content .input-inner textarea,
  .questions-section .question-content .input-inner input,
  .questions-section .question-content .input-container .input-inner .choose-lbl,
  .questions-section .question-content .input-container .input-inner label,
  .questions-section .question-content.dropdown-menu .input-container.drop-menu .input-inner input,
  .questions-section .question-content.dropdown-menu .input-container.drop-menu .input-inner
    label {
    width: 100%;
    font-size: 23px;
  }
  .questions-section .question-content .input-inner.in-note .input-note {
    font-size: 19px;
  }
  .questions-section .question-content.choose .input-container .input-inner .choose-lbl {
    font-size: 18px;
  }
  .questions-section .input-inner .arrow {
    right: 0px;
  }
  .questions-section .question-content:not(.dropdown-menu) {
    margin-top: -60px;
  }
  .questions-section .question-content.dropdown-menu .input-inner {
    min-height: 42px;
  }
}

@media only screen and (max-width: 500px) {
  .questions-section h2 {
    font-size: 24px;
  }
  .questions-section .question-order .icon .question-num {
    font-size: 24px;
  }
  .questions-section .question-order .icon img {
    width: 10px;
  }
  .questions-section .input-inner .arrow {
    width: 14px;
  }
  .questions-section .dropdown .item {
    font-size: 15px;
  }
  .questions-section .inner-content {
    padding: 0px;
  }
  .questions-section .accept-btn-container {
    left: 35px;
  }
  .questions-section .question-content:not(.dropdown-menu) {
    margin-top: -85px;
  }
  .questions-section .question-content.choose .input-container.inline .input-inner {
    padding: 0;
  }
  .questions-section .accept-btn {
    font-size: 16px;
  }
}
@media only screen and (max-width: 325px) {
  .questions-section h2 {
    font-size: 18px;
  }
  .questions-section .question-icon {
    width: 60px;
    margin-bottom: 15px;
  }
}

/*** End Questions Section ***/

/*** Start CSS Animation ***/
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes progressContainer {
  0% {
    bottom: -32px;
    opacity: 0;
  }
  100% {
    bottom: 20px;
    opacity: 1;
  }
}
@keyframes progressContainer2 {
  0% {
    bottom: 20px;
    opacity: 1;
  }
  100% {
    bottom: -32px;
    opacity: 0;
  }
}
@keyframes chooseCheck {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
/*** End CSS Animation ***/
